.text {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-font-color);
}

.light {
  opacity: 0.7;
}

.dark {
  color: var(--main-font-color);
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.underlined {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.mb24 {
  margin-bottom: 24px;
}
