.header {
  background-color: var(--gray);
  border: 1px solid #f2f4f7;
  width: 100%;
}

.appbar-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1440px) {
  .appbar-flex {
    gap: 450px;  
  }
}

.navlinks-flex {
  display: flex;
  gap: 32px;
}
