.page-layout {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media screen and (min-width: 1440px) {
  .page-layout {
    flex-direction: row;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 1440px) {
  .catalog {
    width: 888px;
  }
}
