.button {
  padding: 16px 60px 16px 60px;
  border-radius: 200px;
  background-color: var(--red-light);
  color: var(--white);
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--red-dark);
}

.hero-link {
  padding-left: 48.5px;
  padding-right: 48.5px;
}

.search-button {
  width: 166px;
  padding-right: 56.5px;
  padding-left: 56.5px;
}

.show-more-link {
  width: 166px;
  padding-right: 40px;
  padding-left: 40px;
}
