.button {
  padding: 16px 60px 16px 60px;
  border-radius: 200px;
  background-color: var(--red-light);
  color: var(--white);
  transition: background-color 250ms linear;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--red-dark);
}

.hero-link {
  padding-left: 48.5px;
  padding-right: 48.5px;
}

.search-button {
  width: 166px;
  padding-right: 56.5px;
  padding-left: 56.5px;
}

.show-more-link {
  width: 166px;
  padding-right: 40px;
  padding-left: 40px;
}

.load-more-button {
  padding-right: 32px;
  padding-left: 32px;
  background-color: transparent;
  border: var(--main-border);
  color: var(--main-font-color);
  transition: border 250ms linear;
  align-self: flex-start;
}

.load-more-button:hover,
.load-more-button:active,
.load-more-button:focus {
  background-color: transparent;
  border: 1px solid var(--red-dark);
}
