.location-group {
  margin-bottom: 40px;
}

.label {
  display: block;
  color: var(--dark-gray);
  margin-bottom: 8px;
  cursor: pointer;
}

.map-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  fill: var(--dark-gray);
  left: 20px;
  top: 16px;
}

input:focus + .map-icon,
input:active + .map-icon {
  fill: var(--main-font-color);
}

