.input {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  border-radius: 12px;
  background-color: var(--gray);
  color: var(--main-font-color);
}

.input::placeholder {
  color: var(--dark-gray);
}
