.features-container {
  min-height: 631px;
  padding: 44px 52px;
  border-radius: 10px;
  background-color: var(--gray);
}

.features-content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .features-content {
    width: 527px;
  }
}
