.features-container {
  min-height: 631px;
  padding: 44px 52px;
  border-radius: 10px;
  background-color: var(--gray);
}

.features-content {
  width: 527px;
  display: flex;
  flex-direction: column;
}
