.top {
  margin-bottom: 60px;
}

.bottom {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .bottom {
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
  }
}
