.top {
  margin-bottom: 60px;
}

.top-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .top-flex {
    flex-direction: row;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;    
  justify-content: center;
}

@media screen and (min-width: 1440px) {
  .bottom {
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
  }
}
