.form-container {
  min-height: 588px;
  padding: 20px;
  border-radius: 10px;
  border: var(--main-border);
}

@media screen and (min-width: 768px) {
  .form-container {
    padding: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .form-container {
    padding: 44px 57px;
    width: 641px;
    margin-left: auto;
    align-self: flex-start;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.center {
  display: flex;
  justify-content: center;
}
