.react-datepicker__input-container {
  width: 100%;
  padding: 18px;
  border-radius: 12px;
  background-color: var(--gray);
  outline: none;
  border: none;
}

.react-datepicker {
  /* max-width: 276px; */
  border: 1px solid var(--secondary-font-color);
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

.react-datepicker__month-container {
  float: unset;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__view-calendar-icon input {
  width: 100%;
  padding: 18px;
  border-radius: 12px;
  background-color: var(--gray);
  outline: none;
  border: none;
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  position: absolute;
  color: var(--main-font-color);
  right: 0;
  padding: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.react-datepicker__header {
  min-height: 74px;
  background-color: var(--main-bg-color);
  border-bottom: 1px solid var(--secondary-font-color);
  border-top-left-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 12px;
}

.react-datepicker__month {
  margin: 0;
}

.react-datepicker__current-month {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  margin: unset;
  margin-bottom: 12px;
}

.react-datepicker__day-name {
  width: 36px;
  height: 14px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.4px;
  text-align: center;
  color: var(--secondary-font-color);
  text-transform: uppercase;
  margin: 0;
}

.react-datepicker__month {
  padding: 12px;
  margin: unset;
  text-align: unset;
}

.react-datepicker__day {
  justify-content: center;
  padding-top: 8px;
  align-items: center;
  color: #000;
  display: inline-block;
  width: 41px;
  height: 32px;
  line-height: 1.2;
  text-align: center;
  margin: unset;
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-font-color);
}
