.react-datepicker {
  max-width: 276px;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  border-radius: 12px;
  border: 1px solid var(--secondary-font-color);
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__view-calendar-icon input {
  width: 100%;
  padding: 18px;
  border-radius: 12px;
  background-color: var(--gray);
  outline: none;
  border: none;
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  position: absolute;
  color: var(--main-font-color);
  right: 0;
  padding: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.react-datepicker__header {
  background-color: var(--main-bg-color);
  border-bottom: 1px solid var(--secondary-font-color);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 8px 0;
  position: relative;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 12px;
}

.react-datepicker__current-month {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}
