.card {
  padding: 24px;
  border: var(--main-border);
  border-radius: 20px;
  min-height: 368px;
}

.card-layout {
  display: flex;
}

.card-right {
  width: 524px;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
