:root {
  --gray: #f7f7f7;
  --gray-light: #dadde1;
  --main-bg-color: #ffffff;
  --white-color: #ffffff;
  --main-font-color: #101828;
  --red-light: #e44848;
  --red-dark: #d84343;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}
